Repository All-Hands-AI/OpenHands, pull requests merged in 2024-05, with the labels that each got.

#1484 Add new CommitWriterAgent to auto-generate commit messages from staged diffs
  agenthub/micro/commit_writer/README.md
  agenthub/micro/commit_writer/agent.yaml
  agenthub/micro/commit_writer/prompt.md
Labels: enhancement, micro agent

#1874 Small improvements & fixes to SWE-Bench
  agenthub/SWE_agent/agent.py
  agenthub/delegator_agent/agent.py
  agenthub/micro/agent.py
  agenthub/monologue_agent/agent.py
  agenthub/planner_agent/agent.py
  evaluation/swe_bench/README.md
  evaluation/swe_bench/run_infer.py
  evaluation/swe_bench/scripts/run_infer.sh
  opendevin/core/config.py
Labels: agent framework, evaluation

#1937 fix logging of full llm_config (leaks api key)
  opendevin/core/main.py
Labels: severity:critical, security

#1944 feat: add metrics related to cost for better observability
  agenthub/SWE_agent/agent.py
  agenthub/codeact_agent/codeact_agent.py
  agenthub/micro/agent.py
  agenthub/monologue_agent/agent.py
  agenthub/planner_agent/agent.py
  opendevin/controller/agent_controller.py
  opendevin/controller/state/state.py
  opendevin/core/metrics.py
  opendevin/llm/llm.py
  opendevin/memory/condenser.py
  tests/unit/test_micro_agents.py
Labels: architecture, evaluation

#1888 Refactor integration testing CI, add optional Mac tests, and mark a few agents as deprecated
  .github/.codecov.yml
  .github/workflows/run-integration-tests.yml
  agenthub/SWE_agent/agent.py
  opendevin/controller/agent.py
  tests/integration/conftest.py
  tests/integration/mock/MonologueAgent/test_edits/prompt_001.log
  tests/integration/mock/MonologueAgent/test_edits/prompt_002.log
  tests/integration/mock/MonologueAgent/test_edits/prompt_003.log
  tests/integration/mock/MonologueAgent/test_edits/prompt_004.log
  tests/integration/mock/MonologueAgent/test_edits/response_001.log
  tests/integration/mock/MonologueAgent/test_edits/response_002.log
  tests/integration/mock/MonologueAgent/test_edits/response_003.log
  tests/integration/mock/MonologueAgent/test_edits/response_004.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_001.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_002.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_003.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_004.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_005.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_006.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_007.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_008.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_009.log
  tests/integration/mock/PlannerAgent/test_edits/prompt_010.log
  tests/integration/mock/PlannerAgent/test_edits/response_001.log
  tests/integration/mock/PlannerAgent/test_edits/response_002.log
  tests/integration/mock/PlannerAgent/test_edits/response_003.log
  tests/integration/mock/PlannerAgent/test_edits/response_004.log
  tests/integration/mock/PlannerAgent/test_edits/response_005.log
  tests/integration/mock/PlannerAgent/test_edits/response_006.log
  tests/integration/mock/PlannerAgent/test_edits/response_007.log
  tests/integration/mock/PlannerAgent/test_edits/response_008.log
  tests/integration/mock/PlannerAgent/test_edits/response_009.log
  tests/integration/mock/PlannerAgent/test_edits/response_010.log
  tests/integration/mock/SWEAgent/test_write_simple_script/prompt_001.log
  tests/integration/mock/SWEAgent/test_write_simple_script/prompt_002.log
  tests/integration/mock/SWEAgent/test_write_simple_script/prompt_003.log
  tests/integration/mock/SWEAgent/test_write_simple_script/prompt_004.log
  tests/integration/mock/SWEAgent/test_write_simple_script/prompt_005.log
  tests/integration/mock/SWEAgent/test_write_simple_script/prompt_006.log
  tests/integration/mock/SWEAgent/test_write_simple_script/prompt_007.log
  tests/integration/mock/SWEAgent/test_write_simple_script/prompt_008.log
  tests/integration/mock/SWEAgent/test_write_simple_script/prompt_009.log
  tests/integration/mock/SWEAgent/test_write_simple_script/response_001.log
  tests/integration/mock/SWEAgent/test_write_simple_script/response_002.log
  tests/integration/mock/SWEAgent/test_write_simple_script/response_003.log
  tests/integration/mock/SWEAgent/test_write_simple_script/response_004.log
  tests/integration/mock/SWEAgent/test_write_simple_script/response_005.log
  tests/integration/mock/SWEAgent/test_write_simple_script/response_006.log
  tests/integration/mock/SWEAgent/test_write_simple_script/response_007.log
  tests/integration/mock/SWEAgent/test_write_simple_script/response_008.log
  tests/integration/mock/SWEAgent/test_write_simple_script/response_009.log
  tests/integration/regenerate.sh
  tests/integration/test_agent.py
Labels: test framework

#1908 HumanEvalFix integration
  evaluation/README.md
  evaluation/humanevalfix/README.md
  evaluation/humanevalfix/__init__.py
  evaluation/humanevalfix/run_infer.py
  evaluation/humanevalfix/scripts/run_infer.sh
  poetry.lock
  pyproject.toml
Labels: evaluation

#1995 Fix SWE-Bench evaluation due to setuptools version
  evaluation/swe_bench/BUILD_TESTBED_AND_ENV.md
  evaluation/swe_bench/EVAL_PATCH.md
  evaluation/swe_bench/README.md
  evaluation/swe_bench/run_infer.py
  evaluation/swe_bench/scripts/docker/Dockerfile.full.v1.1
  evaluation/swe_bench/scripts/eval_infer.sh
  evaluation/swe_bench/swe_env_box.py
Labels: evaluation

#1941 Implement `agentskills` for OpenDevin to helpfully improve edit AND including more useful tools/skills
  .github/workflows/run-unit-tests.yml
  agenthub/codeact_agent/codeact_agent.py
  agenthub/codeact_agent/prompt.py
  evaluation/swe_bench/run_infer.py
  evaluation/swe_bench/scripts/run_infer.sh
  evaluation/swe_bench/swe_env_box.py
  opendevin/events/action/commands.py
  opendevin/runtime/docker/ssh_box.py
  opendevin/runtime/plugins/__init__.py
  opendevin/runtime/plugins/agent_skills/README.md
  opendevin/runtime/plugins/agent_skills/__init__.py
  opendevin/runtime/plugins/agent_skills/agentskills.py
  opendevin/runtime/plugins/agent_skills/setup.sh
  opendevin/runtime/plugins/jupyter/execute_server
  opendevin/runtime/plugins/jupyter/setup.sh
  opendevin/runtime/server/runtime.py
  poetry.lock
  pyproject.toml
  tests/integration/mock/CodeActAgent/test_edits/prompt_001.log
  tests/integration/mock/CodeActAgent/test_edits/prompt_002.log
  tests/integration/mock/CodeActAgent/test_edits/prompt_003.log
  tests/integration/mock/CodeActAgent/test_edits/prompt_005.log
  tests/integration/mock/CodeActAgent/test_edits/response_001.log
  tests/integration/mock/CodeActAgent/test_edits/response_002.log
  tests/integration/mock/CodeActAgent/test_edits/response_003.log
  tests/integration/mock/CodeActAgent/test_edits/response_004.log
  tests/integration/mock/CodeActAgent/test_edits/response_005.log
  tests/integration/mock/CodeActAgent/test_ipython/prompt_001.log
  tests/integration/mock/CodeActAgent/test_ipython/prompt_002.log
  tests/integration/mock/CodeActAgent/test_ipython_module/prompt_001.log
  tests/integration/mock/CodeActAgent/test_ipython_module/prompt_002.log
  tests/integration/mock/CodeActAgent/test_ipython_module/prompt_003.log
  tests/integration/mock/CodeActAgent/test_write_simple_script/prompt_001.log
  tests/integration/mock/CodeActAgent/test_write_simple_script/prompt_002.log
  tests/integration/mock/CodeActAgent/test_write_simple_script/prompt_003.log
  tests/integration/mock/CodeActAgent/test_write_simple_script/response_001.log
  tests/integration/mock/CodeActAgent/test_write_simple_script/response_002.log
  tests/integration/mock/CodeActAgent/test_write_simple_script/response_003.log
  tests/unit/test_agent_skill.py
Labels: architecture

#2025 Fix CI workflows [mac-test]
  .github/workflows/run-integration-tests.yml
  .github/workflows/run-unit-tests.yml
Labels: severity:critical, test

#2031 Create integration test for BrowsingAgent
  tests/integration/conftest.py
  tests/integration/mock/BrowsingAgent/test_browse_internet/prompt_001.log
  tests/integration/mock/BrowsingAgent/test_browse_internet/prompt_002.log
  tests/integration/mock/BrowsingAgent/test_browse_internet/prompt_003.log
  tests/integration/mock/BrowsingAgent/test_browse_internet/response_001.log
  tests/integration/mock/BrowsingAgent/test_browse_internet/response_002.log
  tests/integration/mock/BrowsingAgent/test_browse_internet/response_003.log
  tests/integration/regenerate.sh
  tests/integration/start_http_server.py
  tests/integration/static/index.html
  tests/integration/test_agent.py
Labels: agent quality, test

#1911 Support GAIA benchmark
  evaluation/README.md
  evaluation/gaia/README.md
  evaluation/gaia/get_score.py
  evaluation/gaia/run_infer.py
  evaluation/gaia/scorer.py
  evaluation/gaia/scripts/run_infer.sh
Labels: evaluation

#2016 Integrate Multimodal tools to `agentskills`.
  containers/sandbox/Dockerfile
  opendevin/runtime/plugins/agent_skills/agentskills.py
  opendevin/runtime/plugins/agent_skills/setup.sh
  poetry.lock
  pyproject.toml
  tests/integration/mock/CodeActAgent/test_edits/prompt_001.log
  tests/integration/mock/CodeActAgent/test_edits/prompt_002.log
  tests/integration/mock/CodeActAgent/test_edits/prompt_003.log
  tests/integration/mock/CodeActAgent/test_ipython/prompt_001.log
  tests/integration/mock/CodeActAgent/test_ipython/prompt_002.log
  tests/integration/mock/CodeActAgent/test_ipython_module/prompt_001.log
  tests/integration/mock/CodeActAgent/test_ipython_module/prompt_002.log
  tests/integration/mock/CodeActAgent/test_ipython_module/prompt_003.log
  tests/integration/mock/CodeActAgent/test_write_simple_script/prompt_001.log
  tests/integration/mock/CodeActAgent/test_write_simple_script/prompt_002.log
  tests/integration/mock/CodeActAgent/test_write_simple_script/prompt_003.log
  tests/unit/test_agent_skill.py
Labels: architecture, evaluation

#1931 Support Entity-Deduction-Arena (EDA) Benchmark
  evaluation/EDA/README.md
  evaluation/EDA/game.py
  evaluation/EDA/run_infer.py
  evaluation/EDA/scripts/run_infer.sh
  evaluation/README.md
  poetry.lock
  pyproject.toml
Labels: evaluation

#1955 Support MINT benchmark (MATH, GSM8K subset)
  evaluation/README.md
  evaluation/mint/.gitignore
  evaluation/mint/README.md
  evaluation/mint/config_variables.py
  evaluation/mint/datatypes.py
  evaluation/mint/env.py
  evaluation/mint/in_context_examples/reasoning/with_tool.txt
  evaluation/mint/prompts/__init__.py
  evaluation/mint/prompts/template_with_tool.txt
  evaluation/mint/requirements.txt
  evaluation/mint/run_infer.py
  evaluation/mint/scripts/run_infer.sh
  evaluation/mint/task.py
  evaluation/mint/utils.py
Labels: evaluation

#1973 Support Logic Reasoning Benchmark
  evaluation/evaluation_outputs/outputs/logic_reasoning/CodeActAgent/ProntoQA/gpt-4o-2024-05-13_maxiter_10_N_v1.5/metadata.json
  evaluation/evaluation_outputs/outputs/logic_reasoning/CodeActAgent/ProntoQA/gpt-4o-2024-05-13_maxiter_10_N_v1.5/output.jsonl
  evaluation/logic_reasoning/.cache_program/facts.kfb
  evaluation/logic_reasoning/.cache_program/rules.krb
  evaluation/logic_reasoning/README.md
  evaluation/logic_reasoning/__init__.py
  evaluation/logic_reasoning/instruction.txt
  evaluation/logic_reasoning/logic_inference.py
  evaluation/logic_reasoning/run_infer.py
  evaluation/logic_reasoning/scripts/run_infer.sh
Labels: evaluation

#2137 SWE-bench: Add summarise utility script to view passed/failed task IDs
  evaluation/swe_bench/README.md
  evaluation/swe_bench/scripts/summarise_results.py
Labels: evaluation
