Repository All-Hands-AI/OpenHands, pull requests merged in 2024-07, with the labels that each got.

#2713 mixin: improve logging
  opendevin/core/logger.py
  opendevin/runtime/plugins/mixin.py
Labels: enhancement, severity:low

#2726 fix: improve exit_code processing (ssh_box)
  opendevin/runtime/docker/ssh_box.py
  opendevin/runtime/plugins/mixin.py
Labels: enhancement, evaluation, severity:medium

#2932 Remove legacy swe_bench/scripts/summarise_results.py
  evaluation/swe_bench/README.md
  evaluation/swe_bench/scripts/summarise_results.py
Labels: evaluation

#2471 fix: add llm `drop_params` parameter to LLMConfig
  docs/modules/usage/llms/llms.md
  opendevin/core/config.py
  opendevin/core/schema/config.py
  opendevin/llm/llm.py
Labels: enhancement, severity:medium

#3097 (fix) colima: use a docker context specific to runner; prevent duplicate start
  .github/workflows/run-unit-tests.yml
Labels: test

#3101 (fix) fixed ghcr_push use of image name
  .github/workflows/ghcr-runtime.yml
Labels: architecture, test

#3105 (fix) ghcr-runtime: no unzip, artifact downloads as-is (followup to #3104)
  .github/workflows/ghcr-runtime.yml
Labels: test

#3103 (fix) test_runtime: run tests per runtime, not alternating
  opendevin/runtime/docker/ssh_box.py
  opendevin/runtime/server/runtime.py
  tests/unit/test_runtime.py
Labels: test

#3106 (fix) colima: fix return code handling (followup to #3097)
  .github/workflows/run-unit-tests.yml
Labels: backend, test

#3126 Fix(test,CI): runtime build tests
  .github/workflows/run-unit-tests.yml
  tests/unit/test_ipython.py
  tests/unit/test_runtime_build.py
  tests/unit/test_sandbox.py
Labels: test

#3137 (fix) Fix DummyAgent (used in E2E test)
  agenthub/dummy_agent/agent.py
Labels: test

#3128 Migrate multi-line-bash-related sandbox tests into runtime tests and fix multi-line issue
  opendevin/core/logger.py
  opendevin/runtime/client/client.py
  opendevin/runtime/client/runtime.py
  opendevin/runtime/runtime.py
  opendevin/runtime/server/runtime.py
  opendevin/runtime/utils/bash.py
  poetry.lock
  pyproject.toml
  tests/unit/test_bash_parsing.py
  tests/unit/test_runtime.py
  tests/unit/test_sandbox.py
Labels: test

#3163 (Docker) Fix passing of POETRY_CACHE_DIR into RUN command
  containers/app/Dockerfile
Labels: enhancement, backend

#3160 (fix) tests: temp_dir fixture fix in 4 tests
  tests/unit/test_event_stream.py
  tests/unit/test_ipython.py
  tests/unit/test_runtime.py
  tests/unit/test_sandbox.py
Labels: enhancement, test

#3197 (docs) Update custom sandbox guide: added nikolaik image consideration
  docs/modules/usage/custom_sandbox_guide.md
Labels: documentation

#3198 (Eval) Apply config arguments for miniwob ssh box if None is passed
  evaluation/miniwob/run_infer.py
Labels: enhancement, evaluation
