Repository All-Hands-AI/OpenHands, pull requests merged in 2024-06, with the labels that each got.

#2012 Add AgentBench.
  evaluation/agent_bench/README.md
  evaluation/agent_bench/__init__.py
  evaluation/agent_bench/helper.py
  evaluation/agent_bench/run_infer.py
  evaluation/agent_bench/scripts/run_infer.sh
  evaluation/agent_bench/scripts/summarise_results.py
Labels: evaluation

#2206 ssh_box: Close containers before throwing exception
  opendevin/runtime/docker/ssh_box.py
Labels: bug, evaluation, severity:critical

#2208 fix: German translations added/updated
  frontend/src/i18n/translation.json
Labels: review-this

#2209 Fix file descriptor leaks in agentskills
  opendevin/runtime/plugins/agent_skills/agentskills.py
Labels: bug, agent framework, severity:medium

#2212 ssh_box: Fix Docker client descriptor leak
  opendevin/runtime/docker/ssh_box.py
Labels: bug, agent framework, severity:medium

#2214 evaluation: Reset configs in finally block
  evaluation/gaia/run_infer.py
  evaluation/humanevalfix/run_infer.py
  evaluation/logic_reasoning/run_infer.py
  evaluation/swe_bench/swe_env_box.py
Labels: bug, evaluation, severity:medium

#2215 logger.py: Fix resource leak
  opendevin/core/logger.py
Labels: bug, evaluation

#2237 fix: fix dogfood action
  .github/workflows/review-pr.yml
Labels: review-this

#2015 Add ML-Bench Evaluation with OpenDevin
  evaluation/README.md
  evaluation/ml_bench/README.md
  evaluation/ml_bench/__init__.py
  evaluation/ml_bench/run_infer.py
  evaluation/ml_bench/scripts/cleanup.sh
  evaluation/ml_bench/scripts/run_infer.sh
  evaluation/ml_bench/scripts/summarise_results.py
Labels: evaluation

#2080 Support gpqa benchmark evaluation
  evaluation/gpqa/README.md
  evaluation/gpqa/__init__.py
  evaluation/gpqa/run_infer.py
  evaluation/gpqa/scripts/run_infer.sh
Labels: evaluation

#2081 Feat: Support Gorilla APIBench
  evaluation/gorilla/README.md
  evaluation/gorilla/ast_eval_hf.py
  evaluation/gorilla/ast_eval_tf.py
  evaluation/gorilla/ast_eval_th.py
  evaluation/gorilla/run_infer.py
  evaluation/gorilla/scripts/run_infer.sh
  evaluation/gorilla/utils.py
Labels: evaluation

#2351 conftest: Exit without revealing secrets
  tests/integration/conftest.py
Labels: security, test

#2076 BioCoder integration
  evaluation/biocoder/README.md
  evaluation/biocoder/biocoder_env_box.py
  evaluation/biocoder/run_infer.py
  evaluation/biocoder/scripts/run_infer.sh
  evaluation/swe_bench/run_infer.py
Labels: evaluation

#2085 Add SWEBench-docker eval
  evaluation/swe_bench/EVAL_PATCH.md
  evaluation/swe_bench/README.md
  evaluation/swe_bench/scripts/docker/pull_all_eval_docker.sh
  evaluation/swe_bench/scripts/eval/convert_od_output_to_swe_json.py
  evaluation/swe_bench/scripts/eval/download_swe_bench_data.py
  evaluation/swe_bench/scripts/eval/prep_eval.sh
  evaluation/swe_bench/scripts/eval_infer.sh
  evaluation/swe_bench/scripts/summarise_results.py
  poetry.lock
  pyproject.toml
Labels: evaluation

#2385 regenerate.sh: Exit upon common known errors
  tests/integration/README.md
  tests/integration/regenerate.sh
Labels: test

#2356 Evaluation time travel: allow evaluation on a specific version
  evaluation/EDA/README.md
  evaluation/EDA/scripts/run_infer.sh
  evaluation/agent_bench/README.md
  evaluation/agent_bench/scripts/run_infer.sh
  evaluation/biocoder/README.md
  evaluation/biocoder/scripts/run_infer.sh
  evaluation/bird/README.md
  evaluation/bird/scripts/run_infer.sh
  evaluation/gaia/README.md
  evaluation/gaia/scripts/run_infer.sh
  evaluation/gorilla/README.md
  evaluation/gorilla/scripts/run_infer.sh
  evaluation/gpqa/README.md
  evaluation/gpqa/scripts/run_infer.sh
  evaluation/humanevalfix/scripts/run_infer.sh
  evaluation/logic_reasoning/README.md
  evaluation/logic_reasoning/scripts/run_infer.sh
  evaluation/miniwob/scripts/run_infer.sh
  evaluation/mint/README.md
  evaluation/mint/scripts/run_infer.sh
  evaluation/ml_bench/README.md
  evaluation/ml_bench/scripts/run_infer.sh
  evaluation/swe_bench/README.md
  evaluation/swe_bench/scripts/run_infer.sh
  evaluation/toolqa/README.md
  evaluation/toolqa/scripts/run_infer.sh
  evaluation/utils/version_control.sh
  evaluation/webarena/scripts/run_infer.sh
Labels: evaluation

#2470 fix: logger with more masking of sensitive data
  opendevin/core/config.py
  opendevin/core/logger.py
  tests/unit/test_config.py
  tests/unit/test_logging.py
Labels: severity:low, security

#2477 fix: test_ipython being skipped
  tests/integration/mock/CodeActAgent/test_ipython/prompt_001.log
  tests/integration/mock/CodeActAgent/test_ipython/prompt_002.log
  tests/integration/mock/CodeActSWEAgent/test_ipython/prompt_001.log
  tests/integration/mock/CodeActSWEAgent/test_ipython/prompt_002.log
  tests/integration/test_agent.py
Labels: test

#2473 Integration tests: check agent error and fix test_edits
  tests/integration/mock/CodeActSWEAgent/test_edits/prompt_003.log
  tests/integration/mock/CodeActSWEAgent/test_ipython_module/prompt_003.log
  tests/integration/mock/CodeActSWEAgent/test_ipython_module/prompt_004.log
  tests/integration/test_agent.py
Labels: test

#2492 dep: poetry.lock updated (lots of changes)
  poetry.lock
Labels: dependencies

#2491 Evaluation time travel: build sandbox on the fly
  evaluation/EDA/scripts/run_infer.sh
  evaluation/agent_bench/scripts/run_infer.sh
  evaluation/biocoder/scripts/run_infer.sh
  evaluation/bird/scripts/run_infer.sh
  evaluation/gaia/scripts/run_infer.sh
  evaluation/gorilla/scripts/run_infer.sh
  evaluation/gpqa/scripts/run_infer.sh
  evaluation/humanevalfix/scripts/run_infer.sh
  evaluation/logic_reasoning/scripts/run_infer.sh
  evaluation/miniwob/scripts/run_infer.sh
  evaluation/mint/scripts/run_infer.sh
  evaluation/ml_bench/scripts/run_infer.sh
  evaluation/toolqa/scripts/run_infer.sh
  evaluation/utils/version_control.sh
  evaluation/webarena/scripts/run_infer.sh
Labels: evaluation

#2534 Enable test_agnostic_sandbox_jupyter_agentskills_fileop_pwd in CI
  .github/workflows/ghcr.yml
Labels: test

#2554 sec: update npm module "ws" to 8.17.1
  frontend/package-lock.json
Labels: frontend, severity:medium, security

#2595 Track metrics throughout delegation & Polish UX for out of budget error
  opendevin/controller/agent_controller.py
  opendevin/core/metrics.py
Labels: bug, agent framework

#2552 feat: update version to 0.6.2. added Action to update pyproject on Release
  .github/workflows/update-pyproject-version.yml
  pyproject.toml
Labels: enhancement, backend

#2610 Bug fix: add error observation to history
  opendevin/controller/agent_controller.py
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/prompt_004.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/prompt_005.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/prompt_006.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/prompt_007.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/response_001.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/response_002.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/response_004.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/response_005.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/response_006.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/response_007.log
Labels: bug, agent framework

#2619 feat(frontend): Add "Copy" Button to Chat Messages
  frontend/src/components/chat/ChatMessage.tsx
Labels: enhancement, frontend

#2623 feat: Agent buttons hover decor
  frontend/src/components/AgentControlBar.tsx
Labels: enhancement, frontend

#2630 feat(frontend): Add Typing Indicator for Agent Response using Tailwind CSS
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/TypingIndicator.tsx
Labels: enhancement, frontend

#2639 frontend: apply more translations to frontend components
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/components/file-explorer/FileExplorer.tsx
  frontend/src/components/modals/settings/SettingsModal.tsx
  frontend/src/i18n/translation.json
  frontend/src/services/session.ts
Labels: enhancement, frontend

#2608 Frontend support for delegation and rejection
  frontend/src/components/AgentControlBar.tsx
  frontend/src/components/AgentStatusBar.tsx
  frontend/src/i18n/translation.json
  frontend/src/services/actions.ts
  frontend/src/services/observations.ts
  frontend/src/types/ActionType.tsx
  frontend/src/types/AgentState.tsx
  frontend/src/types/ObservationType.tsx
  opendevin/controller/agent_controller.py
  opendevin/events/action/agent.py
  tests/integration/mock/ManagerAgent/test_edits/prompt_006.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/prompt_006.log
Labels: frontend, agent framework

#2641 dev: added make-i18n to "build" (package.json)
  frontend/package.json
Labels: frontend

#2203 Added Sound Notification 🎵
  frontend/public/beep.wav
  frontend/src/App.tsx
  frontend/src/components/AgentStatusBar.tsx
  frontend/src/components/VolumeIcon.tsx
  frontend/src/utils/beep.tsx
Labels: frontend

#2672 CodeActAgent: Fix delegate history
  agenthub/codeact_agent/codeact_agent.py
  opendevin/controller/agent.py
  opendevin/controller/agent_controller.py
  tests/integration/mock/CodeActAgent/test_browse_internet/prompt_005.log
  tests/integration/mock/ManagerAgent/test_edits/prompt_006.log
  tests/integration/mock/ManagerAgent/test_simple_task_rejection/prompt_006.log
Labels: agent quality

#2621 feat: file explorer: better sorting; .gitignore support; file upload config
  frontend/src/components/file-explorer/FileExplorer.tsx
  frontend/src/i18n/translation.json
  frontend/src/services/fileService.ts
  opendevin/core/config.py
  opendevin/core/schema/config.py
  opendevin/server/listen.py
  opendevin/storage/local.py
  poetry.lock
  pyproject.toml
Labels: enhancement, frontend
