Repository All-Hands-AI/OpenHands, pull requests merged in 2024-03, with the labels that each got.

#48 Minimal Docker Sandbox with GPT-3.5 Execution Example
  .gitignore
  agenthub/__init__.py
  agenthub/codeact_agent/README.md
  agenthub/codeact_agent/__init__.py
  agenthub/langchains_agent/__init__.py
  agenthub/langchains_agent/requirements.txt
  opendevin/README.md
  opendevin/agent.py
  opendevin/main.py
  opendevin/sandbox/Dockerfile
  opendevin/sandbox/docker.py
  requirements.txt
Labels: enhancement

#74 Refactor agent interface a bit
  .gitignore
  agenthub/README.md
  agenthub/langchains_agent/__init__.py
  agenthub/langchains_agent/utils/actions/kill.py
  agenthub/langchains_agent/utils/actions/run.py
  agenthub/langchains_agent/utils/agent.py
  agenthub/langchains_agent/utils/llm.py
  agenthub/langchains_agent/utils/monologue.py
  opendevin/agent.py
  opendevin/controller.py
  opendevin/lib/actions/__init__.py
  opendevin/lib/actions/browse.py
  opendevin/lib/actions/read.py
  opendevin/lib/actions/write.py
  opendevin/lib/command_manager.py
  opendevin/lib/event.py
  opendevin/main.py
Labels: architecture, agent framework

#60 A starting point for SWE-Bench Evaluation with docker
  .gitignore
  evaluation/README.md
  evaluation/SWE-bench/Dockerfile
  evaluation/SWE-bench/README.md
  evaluation/SWE-bench/environment.yml
  evaluation/SWE-bench/scripts/download_test_data.py
  evaluation/SWE-bench/scripts/prepare_devin_swe_bench_data.sh
  evaluation/SWE-bench/scripts/run_docker_interactive.sh
  requirements.txt
Labels: enhancement, architecture, agent framework

#282 Re-add banner to App and add change message
  frontend/src/App.tsx
  frontend/src/components/BannerSettings.css
  frontend/src/components/BannerSettings.tsx
  frontend/src/services/settingsService.ts
Labels: frontend

#296 refactor (frontend) : for issue #294 frontend task : Clean up Browser.tsx & Browser.css
  frontend/src/components/Browser.css
  frontend/src/components/Browser.tsx
Labels: frontend

#289 feat(frontend): Add file picker to choose the working directory #221
  frontend/src/components/ChatInterface.css
  frontend/src/components/ChatInterface.tsx
Labels: frontend

#298 refactor(frontend): categorized css files into a separate folder
  frontend/src/App.tsx
  frontend/src/components/BannerSettings.css
  frontend/src/components/BannerSettings.tsx
  frontend/src/components/Browser.tsx
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/Errors.css
  frontend/src/components/Errors.tsx
  frontend/src/components/Planner.tsx
  frontend/src/components/css/BannerSettings.css
  frontend/src/components/css/Browser.css
  frontend/src/components/css/ChatInterface.css
  frontend/src/components/css/Errors.css
  frontend/src/components/css/Planner.css
Labels: frontend
