Repository All-Hands-AI/OpenHands, pull requests merged in 2024-08, with the labels that each got.

#3213 better zero state for file list
  frontend/src/components/file-explorer/ExplorerTree.tsx
  frontend/src/components/file-explorer/FileExplorer.tsx
Labels: enhancement, frontend

#3202 (feat) LLM class: added acompletion and streaming + unit test
  opendevin/core/config.py
  opendevin/core/exceptions.py
  opendevin/llm/llm.py
  tests/unit/test_acompletion.py
Labels: enhancement, backend

#3233 (fix) EventStreamRuntime: fix config passing on init (fixes test_runtime.py errors)
  opendevin/runtime/client/runtime.py
Labels: backend, test

#3240 (workflow) ghcr.yml with paths/paths-ignore conditions for pull_request
  .github/workflows/deploy-docs.yml
  .github/workflows/ghcr.yml
Labels: enhancement, backend

#3236 (fix) Revert #3233; more logging in runtimes
  opendevin/runtime/client/runtime.py
  opendevin/runtime/runtime.py
  opendevin/runtime/server/runtime.py
  tests/unit/test_runtime.py
Labels: enhancement, test

#3244 (backend) Added workflow clean-up.yml to remove old workflows and artifacts
  .github/workflows/clean-up.yml
  .github/workflows/ghcr.yml
Labels: enhancement, backend

#3308 (fix) revert #3240 - remove paths_ignore in ghcr.yml again
  .github/workflows/ghcr.yml
Labels: backend

#3311 (fix) fix error in ghcr_push_runtime (tags processing)
  .github/workflows/ghcr.yml
Labels: backend

#3313 (fix) fix wrong quotes around env vars in ghcr.yml
  .github/workflows/ghcr.yml
Labels: backend

#3326 (fix) remove test_sandbox references from run-unit-tests.yml
  .github/workflows/run-unit-tests.yml
Labels: backend

#3361 (fix) correct dependabot.yml groups
  .github/dependabot.yml
Labels: backend

#3381 (fix) exclude Python cache files/folders from sdist
  MANIFEST.in
Labels: enhancement, severity:critical

#3390 _create_project_source_dist: run subprocess as shell
  opendevin/runtime/client/runtime.py
  opendevin/runtime/utils/runtime_build.py
Labels: enhancement

#3396 copy manifest file into container
  containers/app/Dockerfile
Labels: backend

#3400 (fix) RuntimeClient: make _init_user more robust
  opendevin/runtime/client/client.py
Labels: backend, severity:medium

#3433 (fix) jobs need if condition modified to enable run on PR push
  .github/workflows/ghcr.yml
Labels: enhancement, backend, severity:critical

#3439 (fix) revert a 1s sleep from _ensure_session (runtime)
  opendevin/runtime/client/runtime.py
Labels: enhancement

#3449 tweaks to chat message CSS stylings for lists
  frontend/src/index.css
Labels: enhancement, frontend

#3451 (workflow) ghcr.yml: bump docker/login-action@v2 to v3
  .github/workflows/ghcr.yml
Labels: enhancement, backend

#3450 remove obsolete prompt.py file (codeact_agent)
  agenthub/codeact_agent/prompt.py
Labels: agent framework

#3496 (fix) bump frontend version from 0.1.0 to 0.8.3
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#3512 (test) enhance conftest to lessen false positives in integration tests
  tests/integration/conftest.py
Labels: enhancement, test

#3513 (test) Move test_runtime to ghcr_test_runtime; adapt workflows
  .github/workflows/ghcr_runtime.yml
  .github/workflows/py-unit-tests.yml
  tests/runtime/conftest.py
  tests/runtime/test_bash.py
  tests/runtime/test_browsing.py
  tests/runtime/test_env_vars.py
  tests/runtime/test_images.py
  tests/runtime/test_ipython.py
  tests/unit/test_runtime.py
Labels: enhancement, test

#3452 (feat) implement typescript linting for CodeActAgent
  openhands/runtime/plugins/agent_skills/file_ops/file_ops.py
  openhands/runtime/plugins/agent_skills/utils/aider/linter.py
  openhands/runtime/plugins/agent_skills/utils/config.py
  tests/unit/test_agent_skill.py
  tests/unit/test_aider_linter.py
Labels: enhancement, agent framework

#3509 (test) Increase test_arg_parser.py code coverage with more tests
  tests/integration/mock/eventstream_runtime/CodeActAgent/test_ipython_module/prompt_002.log
  tests/integration/mock/eventstream_runtime/CodeActAgent/test_ipython_module/prompt_003.log
  tests/integration/mock/eventstream_runtime/CodeActAgent/test_ipython_module/prompt_004.log
  tests/integration/mock/eventstream_runtime/CodeActSWEAgent/test_ipython_module/prompt_002.log
  tests/integration/mock/eventstream_runtime/CodeActSWEAgent/test_ipython_module/prompt_003.log
  tests/integration/mock/eventstream_runtime/CodeActSWEAgent/test_ipython_module/prompt_004.log
  tests/unit/test_arg_parser.py
Labels: enhancement, test

#3553 (fix) prevent 500 server error on a just removed folder when listing files
  openhands/runtime/client/client.py
Labels: enhancement, frontend

#3569 (Sec) npm: fix Regular Expression Denial of Service (ReDoS) in micromatch
  frontend/package-lock.json
Labels: severity:medium, security

#3582 feat: parse new terminal output
  frontend/src/components/terminal/Terminal.test.tsx
  frontend/src/hooks/useTerminal.ts
  frontend/src/utils/parseTerminalOutput.test.ts
  frontend/src/utils/parseTerminalOutput.ts
Labels: enhancement, frontend, javascript

#3579 (test) Fix regressions in tests
  tests/integration/mock/eventstream_runtime/CodeActAgent/test_ipython/prompt_002.log
  tests/integration/mock/eventstream_runtime/CodeActAgent/test_ipython_module/prompt_002.log
  tests/integration/mock/eventstream_runtime/CodeActAgent/test_ipython_module/prompt_003.log
  tests/integration/mock/eventstream_runtime/CodeActAgent/test_ipython_module/prompt_004.log
  tests/integration/mock/eventstream_runtime/CodeActSWEAgent/test_ipython/prompt_002.log
  tests/integration/mock/eventstream_runtime/CodeActSWEAgent/test_ipython_module/prompt_002.log
  tests/integration/mock/eventstream_runtime/CodeActSWEAgent/test_ipython_module/prompt_003.log
  tests/integration/mock/eventstream_runtime/CodeActSWEAgent/test_ipython_module/prompt_004.log
  tests/integration/mock/eventstream_runtime/DelegatorAgent/test_edits/prompt_002.log
  tests/integration/mock/eventstream_runtime/DelegatorAgent/test_edits/prompt_003.log
  tests/integration/mock/eventstream_runtime/DelegatorAgent/test_write_simple_script/prompt_002.log
  tests/integration/mock/eventstream_runtime/DelegatorAgent/test_write_simple_script/prompt_005.log
  tests/integration/mock/eventstream_runtime/DelegatorAgent/test_write_simple_script/prompt_006.log
  tests/integration/mock/eventstream_runtime/DelegatorAgent/test_write_simple_script/prompt_009.log
  tests/integration/mock/eventstream_runtime/ManagerAgent/test_simple_task_rejection/prompt_003.log
  tests/integration/mock/eventstream_runtime/ManagerAgent/test_simple_task_rejection/prompt_004.log
  tests/integration/mock/eventstream_runtime/ManagerAgent/test_simple_task_rejection/prompt_005.log
  tests/integration/mock/eventstream_runtime/ManagerAgent/test_simple_task_rejection/prompt_006.log
  tests/integration/mock/eventstream_runtime/ManagerAgent/test_simple_task_rejection/prompt_007.log
  tests/integration/mock/eventstream_runtime/PlannerAgent/test_write_simple_script/prompt_010.log
  tests/integration/mock/eventstream_runtime/PlannerAgent/test_write_simple_script/prompt_011.log
  tests/runtime/conftest.py
  tests/runtime/test_ipython.py
Labels: enhancement, severity:medium, test

#3592 (eval) Aider_bench: add eval_ids arg to run specific instance id's
  evaluation/aider_bench/README.md
  evaluation/aider_bench/run_infer.py
  evaluation/aider_bench/scripts/run_infer.sh
  evaluation/utils/shared.py
  openhands/core/config.py
  poetry.lock
  pyproject.toml
  tests/unit/test_arg_parser.py
Labels: enhancement, evaluation

#3411 Add prompt caching (Sonnet, Haiku only)
  agenthub/codeact_agent/codeact_agent.py
  openhands/core/message.py
  openhands/llm/llm.py
  tests/unit/test_prompt_caching.py
Labels: enhancement, agent quality

#3612 (feat) runtime: in _wait_until_alive upon start wait for client to have initialized too
  openhands/runtime/client/runtime.py
  openhands/runtime/utils/runtime_build.py
Labels: enhancement, backend

#3556 (fix) Enable and log if logging to file is enabled
  openhands/core/logger.py
Labels: enhancement, backend

#3576 New README for OpenHands/openhands/runtime folder
  docs/modules/usage/architecture/runtime.md
  openhands/runtime/README.md
  openhands/server/README.md
Labels: documentation, architecture

#3577 (test) Fix test_agent_controller.py mock exceptions
  tests/unit/test_agent_controller.py
Labels: enhancement, test

#3645 (fix) startup handling and logging of docker images tweaked
  openhands/runtime/builder/docker.py
  openhands/runtime/utils/runtime_build.py
Labels: enhancement, severity:critical

#3643 (feat) Add Aider bench output visualizer
  evaluation/aider_bench/README.md
  evaluation/aider_bench/examples/actions_histogram.png
  evaluation/aider_bench/examples/cost_histogram.png
  evaluation/aider_bench/scripts/summarize_results.py
  poetry.lock
  pyproject.toml
Labels: enhancement, evaluation

#3543 linter and test_aider_linter extensions for eslint
  .github/workflows/py-unit-tests.yml
  openhands/runtime/plugins/agent_skills/utils/aider/linter.py
  tests/unit/test_aider_linter.py
Labels: enhancement, test

#3651 Micro agent: improve github.md with more API commands (CodeActAgent)
  agenthub/codeact_agent/micro/github.md
Labels: enhancement, agent quality

#3648 (enh) review of logger.py; less logging in AgentController
  openhands/controller/agent_controller.py
  openhands/core/logger.py
Labels: enhancement, agent framework

#3662 (fix) test_is_stuck.py to not fail (regression)
  tests/unit/test_is_stuck.py
Labels: test

#3666 (fix) Aider bench: logname fix; improve test calling instruction
  evaluation/aider_bench/run_infer.py
  evaluation/utils/shared.py
Labels: enhancement, evaluation
